# Datasets and huge files
datasets/
data/
*.tar.gz
*.incomplete
*.zip

# Logs
*.log

# Environments
.env*
!.env.example
.venv
venv/
__pycache__/
*.pyc

# Snapshots
hf_snapshots/

# IDEs and OS
.cursor/
.vscode/
.DS_Store

# Temporary files
pid.txt
*.pid
node_modules/
